/.vs
bin
/release
/bdsx.zip
/downloaded-bds
/bdsx/buildtime.h
/bdsx/gen
/release/bdsx
/docker
/bdsx-example/discord.bot.token.txt
/node-chakracore-build/x64
/packages/*/*
!/packages/*/build
/packages/*/build/native/include